{% extends "Learn_Now/layout.html" %}
{% load static %}
{% block body %}
<div class="unit-center">
    <div class="unit_div">
        <h3 class="unit_title">Learn Now<h3>
        </div>
        <p class="lecture_description">
            This is a learning platform for ministry. The designer of this
            platform has a Doctorate in Teaching and Leadership. He has
            also served as a United Methodist pastor for 20 years. In addition, for 15 years
            he has been on the faculty of the Center for Ministry Course of Study, which is 
            accredited by Emory University. He hopes that this will provide useful
            and practical information.
        </p>
        <div>
    </div>
</div>


    

    
{% endblock %}